div.bar {
	display: flex;
	flex-flow: row wrap;
	border-style: none none solid none;
	border-radius: 0;
	border-width: 1px;
	background-color: white;
	padding: 0.5rem;
	margin: 0.5rem;
}
div.grow {
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	padding: 0;
	margin: 0;
}
div.fit {
	display: flex;
	flex-flow: row;
	flex-grow: 0;
	padding: 0;
	margin: 0;
	gap: 0.5em;
}
form {
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 1px;
	background-color: white;
	padding: 0.5rem;
	margin: 0.5rem;
}
form.auth {
	border-style: none;
	padding: 0;
	margin: 0;
}
textarea {
	width: 100%;
	height: 10em;
	resize: none;
	overflow-x: wrap;
	overflow-y: scroll;
}
