div.bar {
	display: flex;
	flex-flow: row wrap;
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 1px;
	background-color: white;
	padding: 0.5rem;
	margin: 0.5rem;
}
div.auto {
	flex: auto;
	padding: 0;
	margin: 0;
}
div.none {
	flex: none;
	padding: 0;
	margin: 0;
}
form {
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 1px;
	background-color: white;
	padding: 0.5rem;
	margin: 0.5rem;
}
form.signout {
	border-style: none;
	padding: 0;
	margin: 0;
}
textarea {
	width: 100%;
	height: 10em;
	resize: none;
	overflow-x: wrap;
	overflow-y: scroll;
}
