<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Accounts</title>
<th:block th:replace="parts/head"></th:block>
  </head>
  <body>
<th:block th:replace="${bar.getClass().getName()}"></th:block>
    <h1>Accounts</h1>
    <ul>
      <th:block th:each="account: ${accounts}">
      <li>
        <a th:href="'/accounts/' + ${account.username}" th:text="${account.username}"></a>
      </li>
      </th:block>
    </ul>
    <div class="pages">
      <th:block th:if="1 < ${pages.size()}" th:each="page: ${pages}">
      <div>
      <th:block th:if="${page != 0 && ! pages.contains(page - 1)}">
      ...
      </th:block>
      <th:block th:if="${accounts.getNumber() == page}">
        <span th:text="${page + 1}"></span>
      </th:block>
      <th:block th:if="${accounts.getNumber() != page}">
        <a th:href="'/accounts?p=' + ${page}" th:text="${page + 1}"></a>
      </th:block>
      </div>
      </th:block>
    </div>
  </body>
</html>
