    <div class="bar">
      <div class="none">
        <a href="/accounts" th:text="#{accounts}"></a>
        /
        <a href="/validity" th:text="#{validity}"></a>
        /
        <a href="/invite" th:text="#{invite}"></a>
      </div>
      <div class="auto">
      </div>
      <div class="auto">
      </div>
      <div class="none">
        <form class="auth" name="auth" action="/signout" method="post">
          <a href="/update" th:text="${bar.username}"></a>
          (admin)
          <button name="button" value="signout" th:text="#{sign_out}"></button>
        </form>
      </div>
    </div>
