    <div class="bar">
      <div class="none">
        <a href="/accounts" th:text="#{accounts}"></a>
        /
        <a href="/update" th:text="#{update_yours}"></a>
        /
        <a href="/validity" th:text="#{validity}"></a>
        /
        <a href="/invite" th:text="#{invite}"></a>
        /
        <a href="/shutdown" th:text="#{shutdown}"></a>
      </div>
      <div class="auto">
      </div>
      <div class="auto">
      </div>
      <div class="none">
        <form class="signout" name="signout" action="/signout" method="post">
          <th:block th:text="${bar.username}"></th:block>
          (admin)
          <button name="button" value="signout" th:text="#{sign_out}"></button>
        </form>
      </div>
    </div>
