    <div class="bar">
      <div class="grow">
        <div class="fit">
          <a href="/accounts" th:text="#{accounts}"></a>
          <a href="/validity" th:text="#{validity}"></a>
          <a href="/invite" th:text="#{invite}"></a>
        </div>
        <div class="grow">
        </div>
      </div>
      <div class="grow">
        <div class="grow">
        </div>
        <div class="fit">
          <a href="/update" th:text="${bar.username}"></a>
          (admin)
          <form class="auth" name="auth" action="/signout" method="post">
            <button name="button" value="signout" th:text="#{sign_out}"></button>
          </form>
        </div>
      </div>
    </div>
    <div th:if="${err}" th:text="${err}"></div>
