<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Accounts</title>
<th:block th:replace="parts/head"></th:block>
  </head>
  <body>
<th:block th:replace="${bar.getClass().getName()}"></th:block>
    <h1>Shutdown</h1>
    <form method="post" action="/shutdown">
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" required="required" />
      </p>
      <button name="button" value="shutdown">shutdown</button>
    </form>
  </body>
</html>
