<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sign up</title>
<th:block th:replace="parts/head"></th:block>
  </head>
  <body>
<th:block th:replace="${bar.getClass().getName()}"></th:block>
    <h1>Sign up</h1>
    <div th:if="${err}" th:text="${err}">
    </div>
    <form name="signup" method="post" action="/signup">
      <p>
        <label for="username">Userame:</label>
        <input type="text" name="username" required="required" />
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" required="required" />
      </p>
      <p>
        <label for="verify">Password (verify):</label>
        <input type="password" name="verify" required="required" />
      </p>
      <button name="button" value="signup">sign up</button>
    </form>
  </body>
</html>
